.pregunta {font-weight: bold;}
      .valida, .acierta, .falla { font-family: Arial, sans-serif; }
      .valida {color:blue;}
      .acierta {color:green;}
      .falla {color:red;}
	   p.valida:after {content: " *CORRECTA* ";}
	   p.acierta:after {content: '*OK* 👍';}
       p.falla:after {content: ' *TU ELECCIÓN* \1F44E';}
       .resultado {
        position: fixed;
        text-align: center; 
        border-style: solid;
        border-width: 1px;
        top: 25px; right: 40%;
        width: 256px;
    }
    .resultado {
        background-color: #f8ebeb; /* Gris muy claro */

    }
   .resultado img{
        width: 64px;
        height: auto;
        }